h1 {
    color: #885df1;
    text-align: center;
  }
  h2 {
    color: #272044;
    text-align: center;
    font-size: xx-large;
  }
  body {
    background-color: #f5f0fe;
    text-align: center;
    padding: 20px;
  }
  img {
    display: block;
    margin: auto;
  }
  h4 {
    text-align: center;
  }
  button {
    text-align: center;
    background-color: rgba(231, 233, 233, 0.325);
    color: #a06fb1;
    padding: 10px;
    margin: 5px 650px 5px 650px;
    border: 1px solid #59316cc8;
    box-shadow: #313033;
    border-radius: 20px 20px 20px 20px;
  }
  button:hover {
   background: blueviolet;
   color: white;
   padding-bottom: 100px;
  }
  a {
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 100px;
    font-size: x-large;
  }